body{
    margin: 0px;
}
.navbar {
  width: 100%;
  height: 60px;
  background: #0a3d62;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
}

.nav-logo {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #ffd32a;
}
